item-pop-after-drag
  //div.wrap-item
    p(onclick='{addSimple}').px12.pt8.pb7 Simple Message
    p(onclick='{addSelection}').px12.pt8.pb7 Selection
    p(onclick='{addOpenQuestion}').px12.pt8.pb7 Open Question
    p(onclick='{goTo}').px12.pt8.pb7 Go To
  div.wrap-item.pop-list
    p(onclick='{addSimple}').px12.pt8.pb7 Message
    p(onclick='{showQuestionSelection}').px12.pt8.pb7 Question
    p(onclick='{goTo}').px12.pt8.pb7 Go To
  div.wrap-item.pop-question-list
    p(onclick='{addSelection}').px12.pt8.pb7 Selection
    p(onclick='{addOpenQuestion}').px12.pt8.pb7 Open Question

  style(scoped, type='less').
    :scope {
      display: none;
      position: absolute;
      left: 100px;
      top: 100px;
      background: #2196F3;
      border-radius: 3px;
      overflow: hidden;
      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
      &.show-pop {
        display: block !important;
      }
      .wrap-item {
        p {
          min-width: 140px;
          cursor: pointer;
          color: #fff;
          text-align: center;
          font-weight: 300;
          letter-spacing: 0.6px;
          white-space: nowrap;
          border-bottom: solid rgba(255,255,255,0.5) 0.5px;
        }
        p:last-child{
          border-bottom: none;
        }
      }
      .pop-question-list {
        display: none;
      }
    }

  script.

    var self = this;

    this.initSelection = [
      {label: 'Simple Message', func: this.addSimple},
      {label: 'Ask a Question', func: this.addQuestion},
      {label: 'Go To', func: this.goTo},
    ];

    this.addSimple = function(){

      mixpanel.track('simple message node was added');
      

      // もし始点にすでにlineがあったらguiから削除する
      if(targetEvent.gui.topLineId){
        targetEvent.gui.topLineId
      }


      var from = {x: arrowOrigin.x, y: arrowOrigin.y};
      var to = {x: arrowTo.x, y: arrowTo.y};

      // この時のターゲットはsimpleMessageそのものではない。
      if(targetEvent.nodeType=='single'){
        targetEvent.gui.topLinePosition = {origin: from, to: to};
      }else if(targetEvent.nodeType=='group'){
        targetEvent.topLinePosition = {origin: from, to: to};
      }

      /*
      var event = getEventFromScenarioById(targetEvent.id);
      if(event.type=='normal'){
        event.gui.topLinePosition = {origin: from, to: to};
      }else if(event.type=='selection'){
        debugger
      }
      */

      //debugger
      //var preEvent = getEventFromScenarioByNext(targetEvent.id);
      //preEvent.gui.topLinePosition = {origin: arrowOrigin, to: arrowTo};


      // contentを作成
      var content = {
        author: session.user.uid,
        id: `simpleTmp${riot.currentProject.nodeNum}`,
        num: riot.currentProject.nodeNum,//scenarioArray.length,
        type: 'normal',
        nodeType: 'single',
        text: 'Message',
        gui: {
          position: {},
        },
      };
      riot.currentProject.nodeNum++;

      addSimpleMessage(arrowTo.x, arrowTo.y, content, false);


      // scenarioをupdateする
      //saveScenario();
      saveScenarioAsSubcollection(content);
      focusNode(content);

      // ポップを消去
      var pop = document.querySelector('wrap-pop-after-drag');
      pop.classList.remove('show-pop');

    }

    this.addSelection = function(){

      mixpanel.track('selection node was added');

      var from = {x: arrowOrigin.x, y: arrowOrigin.y};
      var to = {x: arrowTo.x, y: arrowTo.y};

      var event = getEventFromScenarioById(targetEvent.id);
      event.gui.topLinePosition = {origin: from, to: to};
      
      var content = {
        author: session.user.uid,
        id: `selectionTmp${riot.currentProject.nodeNum}`,
        num: riot.currentProject.nodeNum,
        type: 'selection',
        nodeType: 'group',
        text: 'What is your choice?',//+idRand,
        addedSelectionsCounter : 0,
        selections: [
          {label: 'Selection', id: `selectionTmp${scenarioArray.length}-selection0`},
        ],
        gui: {
          position: {},
        },
      };
      riot.currentProject.nodeNum++;

      addSelections(arrowTo.x, arrowTo.y, content, false);

      // ポップを消去
      var pop = document.querySelector('wrap-pop-after-drag');
      pop.classList.remove('show-pop');


      //saveScenario();
      saveScenarioAsSubcollection(content);
      focusNode(content);

    }


    this.addOpenQuestion = function(){

      mixpanel.track('open question node was added');

      var from = {x: arrowOrigin.x, y: arrowOrigin.y};
      var to = {x: arrowTo.x, y: arrowTo.y};

      var event = getEventFromScenarioById(targetEvent.id);
      event.gui.topLinePosition = {origin: from, to: to};
      

      var content = {
        author: session.user.uid,
        id: `openquestionTmp${riot.currentProject.nodeNum}`,
        num: riot.currentProject.nodeNum,
        type: 'openquestion',
        nodeType: 'single',
        text: 'What is question?',//+idRand,
        expectedAnswer: 'type your answer...',
        gui: {
          position: {},
        },
      };
      riot.currentProject.nodeNum++;

      addOpenQuestion(arrowTo.x, arrowTo.y, content, false);

      // ポップを消去
      var pop = document.querySelector('wrap-pop-after-drag');
      pop.classList.remove('show-pop');

      //saveScenario();
      saveScenarioAsSubcollection(content);
      focusNode(content);

    }


    this.goTo = function(){

      // overlayを出してNodeを選択させる
      $('#canvasOverlay').fadeIn(400);
      var canvasNodes = document.getElementById('canvasNodes');
      canvasNodes.classList.add('add-node-z');


      var fromEvent = targetEvent;
      goToFrom = fromEvent;

      if(fromEvent.nodeType == 'single') goToFromId = targetEvent.id;
      if(fromEvent.nodeType == 'group') goToFromId = targetSelectionEventId;

      // goToNodeを追加
      underChoiceOfGoTo = true;
    }


    this.showQuestionSelection = function(){
      var pop = document.querySelector('wrap-pop-after-drag');
      var preHeight = pop.offsetHeight;

      $('.pop-list').hide();
      $('.pop-question-list').show();

      var nowHeight = pop.offsetHeight;


      var gap = (preHeight-nowHeight)/2;
      
      var y = parseInt(pop.style.top) + gap;

      pop.style.top = `${y}px`;
    }



    



