doctype html

html
  head
    meta(charset='utf-8')

    //- for smart phone
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    link(type="image/x-icon", rel="shortcut icon", href="./images/favicon.png")

    title Bot Editor
    meta(name="description", content="Bot Editor")
    meta(name="keywords", content="Bot Editor")

    //- for facebook
    meta(property='og:title', content='Bot Editor')
    meta(property='og:type', content='website')
    meta(property='og:description', content='Bot Editor')
    meta(property='og:url', content='')
    meta(property='og:image', content='./images/favicon.png')
    meta(property='og:site_name', content='Bot Editor')
    meta(property='og:email', content='')

    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@as_kou")
    meta(name="twitter:creator", content="@as_kou")

    //- meltline.css
    link(rel='stylesheet', href='./plugins/meltline.css')
    link(rel='stylesheet', href='./plugins/common.css')


    //- riot.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/riot/2.3.18/riot+compiler.js')

    //- moment.js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js")

    
    //script(type="text/javascript" src='./js/user-agent-min.js')
    script(type="text/javascript" src='./js/platform.js')

    //- fireabse
    script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js")
    script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js")
    script(src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js")

    script(type="text/javascript" src='./js/config.js')
    script(type="text/javascript" src='./js/auth.js')
    script(type="text/javascript" src='./js/keyboad.js')

    script.
        var scenarioArray, currentScenarioArrayForConversation;
    script(type="text/javascript" src='./js/sketch.js')
    script(type="text/javascript" src='./js/sketch-utils.js')
    script(type="text/javascript" src='./js/conversation-render.js')
    script(type="text/javascript" src='./js/export-scenario.js')

    //- jquery
    script(type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.js')

    //- For Mixpannel
    script(type="text/javascript").
        (function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
        0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
        mixpanel.init("b6866738eabe89a25093119721cd4131");


  body
    block content
